@charset "utf-8";
.btn-lg {
	background-color: hsla(278,100%,33%,1.00);
	color: hsla(0,39%,90%,1.00);
}
.btn-primary {
	background-color: hsla(359,100%,50%,1.00);
}
.btn-default {
	background-color: hsla(230,100%,50%,1.00);
	color: hsla(0,0%,100%,1.00);
}


body p {

}
